{
  "extends": [
    "standard",
    "standard-react",
    "plugin:react/recommended",
    "plugin:import/react"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
"parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "react/prop-types": 0,
    "quote-props": 0,
    "curly": 0,
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,
    // allow specifying true explicitly for boolean props
    "react/jsx-boolean-value": 0,
    "no-undef": "error",
    "indent": [
      "warn",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "semi": [
      "warn",
      "always"
    ],
    "camelcase": "warn",
    "no-var": "warn",
    "react-hooks/exhaustive-deps": 0,
    "react/jsx-indent": [
      "error",
      4
    ],
    "react/jsx-indent-props": [
      "error",
      4
    ]
  }
}
